.root {
    -fx-background-image: url("../Imgs/wallpaper.JPG");
    -fx-background-size: 100% 100%; 
}
.parent {
	-fx-background-color: #34343B
}
.other {
	-fx-background-color: #191C1F
}
.scroll-pane {
   -fx-background: #34343B;
   -fx-border-color: #34343B;
}
.seat-selection {
    -fx-background-image: url("../Imgs/CinemaBackground.JPG");
    -fx-background-size: 100% 100%; 
}